p{
    color: green;
    font-size: large;
    text-align: center;
    }

u {
    color: hotpink;
}

main {
    width: 150%;
    background-color: dodgerblue;
    background-image: url("https://cutewallpaper.org/21/1920-x-1080-gif/Vaporwave-Background-Gif-1920x1080-Spicesncurry.com.gif");
        
    }
    